.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h1 {
    color: blueviolet;
    margin: 0;
    /* font-size: 40px;
    margin-left: -40px; */

}

.nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0px;
    margin-right: -3.1cm;
    padding: 15px;
}

.nav li {
    padding-left: 15px;
    padding-top: 15px;
}

.nav li a {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;

}

.nav .nav-search {
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left: 20%;
    margin-right: 8%;
}

.nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
    border-right: none;
}

.nav .nav-search button {
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
    /* border-left: none; */
}

h1 a {
    color: blueviolet;
    text-decoration: none;
}

.search-suggestion {
    position: absolute;
    top: 40px;
    z-index: 10;
    display: list-item !important;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 300px;
}

.search-suggestion li {
    padding: 5px;
    border: 1px solid #ddd;
}

.search-suggestion li a {
    cursor: pointer;
    color: blueviolet;
}