ul{
    margin: 0;
    padding: 0;
}
.footer {
    padding: 5px;
    padding-bottom: 0px;
    text-align: center;
    font-weight: 300;
    position: fixed;
    margin-bottom: 1px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #282d32;
}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer ul li a{
    color: #f0f9ff;
    text-decoration: none;
}
.footer p{
    color: #1bda0d;
    padding-bottom: 0%;
}