<!-- <div class="row product-details" *ngIf="productData">
<div class="col-sm-6">
    <img class="product-image"src="{{productData.image}}" alt="">
</div>
<div class="col-sm-6">
<div class="details">
<h1>{{productData.name}}</h1>
<h3>Price: {{productData.price}}</h3>
<div>
    Color:
    <h5 [style.backgroundColor]="productData.color" class="product-color"></h5>
</div>
<h6>Category:{{productData.category}}</h6>
<h6>Description:{{productData.description}}</h6>
<button>Add to Cart</button>
<button>Buy Now</button>
<div class="quantity-group">
    <button>-</button>
    <input type="text" value="1">
    <button>+</button>
</div>
</div>    
</div>
</div> -->


<div class="container" *ngIf="productData">
    <div class="left-column">
        <img class="product-image" src="{{productData.image}}" alt="">
    </div>
    <div class="right-column">
        <div class="product-description">
            <span>{{productData.category}}</span>
            <h1>{{productData.name}}</h1>
            <p >{{productData.description}}</p>
        </div>
        <div class="product-configuration">
            <span>Color</span>
            <h5 [style.backgroundColor]="productData.color" class="product-color"></h5>
            <div class="product-price">               
                <span>{{productData.price}}</span>
                <div class="quantity-group">
                    <button (click)="handelQuantity('min')">-</button>
                    <input type="text" value="{{productQuantity}}" />
                    <button (click)="handelQuantity('plus')">+</button>
                </div>
                <button *ngIf="!removeCart" class="add-cart-btn" (click)="addToCart()">Add to cart</button>
                <button *ngIf="removeCart" class="rem-cart-btn" (click)="removeToCart(productData.id)">Remove to cart</button>
            </div>
        </div>
    </div>
</div>
<!-- (click)="handelQuantity('min')" -->