<div class="seller-auth">
    <div *ngIf="!showLogin" class="signup">
        <h1>Seller Sign-Up</h1>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form">
            <input class="form-input"type="text" ngModel name="name" placeholder="Enter Name" />
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password" />
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email">
            <button class="form-button">Sign-Up</button>
            <a class="auth-toggle-link" (click)="openLogin()">Already have an account? Click Here</a>
        </form>
    </div>


<!-- Login area -->
<div *ngIf="showLogin" class="login">
        <h1>Seller Log-In</h1>
        <p class="error-p">{{authError}}</p>
        <form #sellerLogIn="ngForm" (ngSubmit)="logIn(sellerLogIn.value)" class="common-form">
            <input class="form-input" type="text" ngModel name="email" placeholder="Enter Email">
            <input class="form-input" type="password" ngModel name="password" placeholder="Enter Password" />
            <button class="form-button">Log-In</button>
            <a class="auth-toggle-link" (click)="openSignIn()">Dont have an account? Click Here</a>
        </form>
    </div>
</div>

<!-- <div class="login-box">
    <div *ngIf="!showLogin" class="signup">
        <h2>Seller Sign-Up</h2>
        <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)">
            <div class="user-box">
                <input type="text" ngModel name="name"  required=""/>
                <label>Name</label>
            </div>
            <div class="user-box">
                <input type="password" ngModel name="password"/>
                <label>Password</label>
            </div>
            <div class="user-box">
                <input type="text" ngModel name="email">
                <label>Email</label>
            </div>
            <button class="form-button">Sign-Up</button>
            <a class="auth-toggle-link" (click)="openSignIn()">Dont have an account? Click Here</a>
        </form>
    </div>

    <div *ngIf="showLogin" class="login">
        <h2>Seller Log-In</h2>
        <p class="error-p">{{authError}}</p>
        <form #sellerLogIn="ngForm" (ngSubmit)="logIn(sellerLogIn.value)" class="common-form">
            <div class="user-box">
                <input type="text" ngModel name="email">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" ngModel name="password"/>
                <label>Password</label>
            </div>
            <button class="form-button">Log-In</button>
            <a class="auth-toggle-link" (click)="openSignIn()">Dont have an account? Click Here</a>
        </form>
    </div>
</div> -->