.user-auth h1{
    padding: 10px;
    color: #fff;  
    font-family:sans-serif;
    font-weight: 600;
    text-align: center;
}
.user-auth {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 150px;
   /* width: 50%; */
   /* border-radius: 4px; */
   background: -webkit-linear-gradient(left, #18a66b, rgb(41, 133, 102));
   background: linear-gradient(to right, #3ea87c,  rgb(41, 133, 102));
}
.common-form a{
    color: blue;
    cursor: pointer;
}
.auth-toggle-link{
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.form-input{
    border-radius: 3px;
}
.form-button{
    border-radius: 3px;
}
